<h2>New post</h2>

<div style="margin-top: 20px;">
  <form action="/post_create/<%= params[:key] %>" method="post">    
    <p class="form_label">Message</p>
    <textarea name="message" cols="80" rows="10"></textarea>
    
    <br /><br /><br />
    <input type="submit" name="submit" value="Create" />
  </form>
</div>