<h2>New thread</h2>

<div style="margin-top: 20px;">
  <form action="/thread_create" method="post">
    <p class="form_label">Thread name</p>
    <input type="text" name="thread_name" size="40"/>
    
    <p class="form_label">Message</p>
    <textarea name="message" cols="80" rows="10"></textarea>
    
    <br /><br /><br />
    <input type="submit" name="submit" value="Create" />
  </form>
</div>