<h2>Getting started</h2>

<p style="font-size: 10pt">To get started communicating, you will need a basic profile. You will only need to do this once.</p>

<div style="margin-top: 20px;">
  <form action="/user_create" method="post">
    <p class="form_label">Display name</p>
    <input type="text" name="display_name" />
    
    <p class="form_label">User name</p>
    <input type="text" name="user_name">
    
    <p class="form_label">Email address</p>
    <input type="text" name="email">
    
    <br /><br /><br />
    <input type="submit" name="submit" value="Create" />
  </form>
</div>